/* Variables de Colores según identidad de marca */
:root {
    --color-primary: #0d47a1; /* Azul Marino Intenso */
    --color-secondary: #455a64; /* Gris Azulado Metálico */
    --color-dark-bg: #212529;   /* Fondo muy oscuro */
    --color-accent: #1976d2;    /* Azul un poco más claro para botones */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-dark-bg);
}
.container {
    padding: 20px;
}

/* Ajustes de tipografía y colores personalizados */
.text-primary-custom {
    color: #64b5f6; /* Un azul claro para que resalte sobre fondo oscuro */
}

.bg-secondary-dark {
    background-color: #2c3034;
}

/* Estilos de la sección Hero (Portada) */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/banner.jpg');
    background-size: cover;
    background-position: center top;
    height: 90vh; /* Ocupa el 90% de la altura de la pantalla */
}

/* Botones personalizados */
.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-accent);
}

/* Botón Flotante de WhatsApp */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    z-index: 1000;
    transition: transform 0.3s;
    text-decoration: none;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
    color: white;
}

/* Tarjetas de productos */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(255,255,255,0.1);
}

.foto-taller {
    max-width: 80%; /* Reduce el tamaño al 80% del espacio disponible */
    display: block; /* Necesario para centrarla si cambias el ancho */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    opacity: 0.9; /* La hace un poquito transparente (opcional) */
    width: 450px;
    height: 450px;
}

/* Forzar mismo tamaño en imágenes de productos */
#productos .card-img-top {
    width: 100%;           /* Ocupa todo el ancho de la tarjeta */
    height: 220px;         /* Altura fija (puedes cambiar el número) */
    object-fit: cover;     /* La magia: recorta la imagen para llenar el espacio sin deformarla */
    object-position: center; /* Centra la imagen */
}